<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IFilePathGeter" value="WindowPathGeter"/>
    <add key="IRepositoryActions" value="XML_Repository"/>
    <add key="RepositorySaver" value="XMLSaver"/>
  </appSettings>
</configuration>